*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121212;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator{
    padding: 20px;
    border: 8px solid #00F5D4;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #1E1E2F;
    box-shadow: 0 0 20px #00F5D4;

}

input{
    aspect-ratio: 3 / 1;
    width: 100%;
    border-radius: 25px;
    background-color: #2A2A2A;
    color: #FEE440;
    padding: 10px;
}

#menu{
    flex:1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: clamp(5px, 1svw, 15px);
    flex-wrap: wrap;
}

#menu button{
    
    background-color: #F15BB5;
    text-shadow: none;
}

.row{
    display: flex;
    align-items: center;
    gap: clamp(5px, 1svw, 15px);
    width: 100%;
}

#top-menu-row{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

button{
    background-color: #00BBF9;
    aspect-ratio: 1 / 1;
    width: clamp(35px, 10svw, 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 2.5svw, 1.5rem);
    text-shadow: 0 0 4px #00F5D4, 0 0 8px #00F5D4;
    flex: 1;
    max-width: 90px;
}

button:hover {
    transform: scale(1.05);
    background-color: #00aee0;
}

button:active {
    transform: scale(0.95);
    background-color: #009fca;
}

#buttons{
    display: flex;
    flex-direction: column;
    gap: clamp(5px, 1svw, 15px);
    width: 100%;
}

.number{
    color:#FEE440;
}

.operator{
    color: #FF6B35;
}

#equal{
    color: #9B5DE5;
}

#decimal-point{
    font-size: 2rem;
    font-weight: bold;
}

#decimal-point{
    color: #FF6B35;
}

#answer{
    color: #00ffff;
}

#screen::placeholder {
    color: #666;
}

.spacer {
    visibility: hidden;
    pointer-events: none;
}

#github{
    background-color: #F15BB5;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    padding: 0;
}

#github img{
    width: 90%;
    height: auto;
    object-fit: contain;
}